.circle {
    width: 88px;
    height: 88px;
    background-color: white;
    border-radius: 50%;
    text-align: center;
    filter: drop-shadow(2px 3px 10px rgba(45, 45, 45, 0.05));
    margin-right: 8px;
    display: inline-block;
    line-height: 88px;
    font-weight: 600;
    font-size: 20px;
    color: #4B9199;
  }

.selected-circle {
  width: 88px;
  height: 88px;
  background-color: #4B9199;
  border-radius: 50%;
  text-align: center;
  filter: drop-shadow(2px 3px 10px rgba(45, 45, 45, 0.05));
  margin-right: 8px;
  display: inline-block;
  line-height: 88px;
  font-weight: 600;
  font-size: 20px;
  color: #FFFFFF;
}