* {
  margin: 0;
}
#progress {
  position: fixed;
  width: 100%;
  min-width: 428px;
  height: 100%;
  min-height: 926px;
  align-items: center;
}

#progress-bar {
  position: absolute;
  background: #6ebec7;
  height: 5px;
  top: 0;
}
#progress-bar button {
  border: none;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 50%;
}

#progress-num {
  position: absolute;
  top: 476px;
  left: 46px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

#progress-num .step {
  background-color: #ffffff;
  text-align: center;

  font-size: 14px;
  position: relative;
  z-index: 1;
}

#progress-num .step-line {
  position: absolute;
  align-items: center;
  background-color: red;
  font-weight: bold;
  width: 156px;
  padding: 8px;
  border-radius: 40px;
}

#progress-num .step.active {
  background-color: #6ebec7;
}

#progress-num::before {
  content: "";
  background-color: lightgray;
  position: absolute;
  top: 50%;
  left: 0;
  height: 5px;
  width: 100%;
  z-index: -1;
}

.nextBtn-container {
  position: absolute;
  top: 817px;
}

#arrow {
  position: absolute;
  top: 20px;
  left: 250px;
}

#bg01 {
  position: absolute;
  top: 0px;
  width: auto;
  height: 100%;
}

.text-container {
  text-align: center;
  top: 131px;
}

.text-container #head1 {
  position: fixed;
  color: #bf83cb;
  font-size: 32px;
  font-weight: 500;
  top: 131px;
  left: 160px;
}

.text-container #head2 {
  position: fixed;
  color: #4b9199;
  font-size: 32px;
  font-weight: 500;
  top: 182px;
  left: 75px;
}

.text-container #head3 {
  position: fixed;
  color: #bf83cb;
  font-size: 32px;
  font-weight: 500;
  top: 182px;
  left: 127px;
}
