* {
  margin: 0;
}
#progress {
  position: absolute;
  width: 100%;
  min-width: 428px;
  height: 100%;
  min-height: 926px;
  align-items: center;
}

.text-feel-container {
  text-align: center;
  top: 131px;
}

.text-feel-container #head1 {
  position: fixed;
  color: #bf83cb;
  font-size: 32px;
  font-weight: 500;
  top: 131px;
  left: 170px;
}

.text-feel-container #head2 {
  position: fixed;
  color: #4b9199;
  font-size: 32px;
  font-weight: 500;
  top: 182px;
  left: 80px;
}

.text-feel-container #head3 {
  position: fixed;
  color: #bf83cb;
  font-size: 32px;
  font-weight: 500;
  top: 182px;
  left: 132px;
}

.text-feel-container #feel1 {
  color: #838aa3;
  position: absolute;
  font-size: 16px;
  font-weight: 500px;
  top: 504px;
  left: 40px;
}

.text-feel-container #feel2 {
  color: #838aa3;
  position: absolute;
  font-size: 16px;
  font-weight: 500px;
  top: 504px;
  left: 350px;
}

.nextBtn-container {
  position: absolute;
  top: 817px;
}

#arrow {
  position: absolute;
  top: 20px;
  left: 250px;
}

#bg01 {
  position: absolute;
  top: 0px;
  width: auto;
  height: 100%;
}

.emo-container {
  position: absolute;
  top: 280.97px;
  left: 151.04px;
}
