* {
  margin: 0;
}

.page-container {
  position: fixed;
  width: 100%;
  height: 100%;
  max-width: 428px;
  max-height: 926px;
  align-items: center;
}

#bg01 {
  position: absolute;
  top: 0;
  width: auto;
  height: 100%;
}

#miniLogo {
  position: absolute;
  top: 7px;
  left: 115px;
}

#quality-card {
  position: absolute;
  top: 254px;
  left: 40px;
}

#quality-card-pic {
  position: absolute;
  top: 333px;
  left: 80px;
  z-index: 2;
}

.loader-bar {
  position: absolute;
  top: 509px;
  left: 140px;
  width: 100%;
  max-width: 160px;
  height: 4px;
  background-color: #8dd2da;
  border-radius: 8px;
  animation: loaderAnimation 3s linear forwards;
}

@keyframes loaderAnimation {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
