* {
  margin: 0;
}

.regis-container {
  position: fixed;
  width: 100%;
  height: 100%;
  max-width: 428px;
  max-height: 926px;
  align-items: center;
}

.text-container {
  position: absolute;
  top: 160px;
  left: 130.5px;
}

.text-container h2 {
  color: #4b9199;
  font-size: 40px;
  font-weight: 600;
  line-height: 64px;
  text-align: center;
}

#bg01 {
  position: absolute;
  top: 0;
  width: auto;
  height: 100%;
}

#miniLogo {
  position: absolute;
  top: 7px;
  left: 115px;
}

.nextBtn-container {
  position: absolute;
  bottom: 10%;
}

#arrow {
  position: absolute;
  top: 20px;
  left: 250px;
}
